In [4]:
# Pendalaman string
cek = 'ak'
kata = 'makan'
kata2 = 'begadang'

# Seperti operasi komparasi
print(cek in kata)
print(cek in kata2)

True
False

In [11]:
nama = 'Komarudin'
print(nama[2]) # bisa diakses indek mulai 0
print(nama[3:6]) # 3 sampai sebelum 6
print(nama[3:]) # 3 sampai selesai
print(nama[:6]) # dari awal sampai sebelum 6

m
aru
arudin
Komaru

In [14]:
# not / negasi (boolean)
benar = True
print(benar)
print(not benar)

a = 7
b = 8
print(not (a > b))

True
False
True
True

In [21]:
# != tidak sama dengan
# print(5 != 7)

a = input('Masukan angka a: ') # membuat input
if a != 6:
    print('a tidak sama dengan 6')
else:
    print('a sama dengan 6')

Masukan angka a: 1
a tidak sama dengan 6

In [24]:
# \t untuk tab, \n untuk enter
nama = input('Masukan nama\t: ')
nim = input('Masukan nim\t: ')
print(f'Nama saya adalah {nama}\ndengan NIM {nim}')

Masukan nama	: Komar
Masukan nim	: 2200
Nama saya adalah Komar
dengan NIM 2200

In [26]:
# Perulangan / Looping
# Cara 1
# i hanya sebuah variabel jadi bisa diganti, saya tidak mau banyak bicara
for i in range(5): # i mewakili 0 sampai sebelum 5
    print(f'angka: {i}')

angka: 0
angka: 1
angka: 2
angka: 3
angka: 4

In [27]:
# Cara 2
for i in range(3,10): # tiga sampai sebelum 10
    print(i)

3
4
5
6
7
8
9

In [29]:
# Cara 3
for i in range(2,20,3): #(start, stop, step)
    print(i)

2
5
8
11
14
17

In [31]:
# Cara 4
daftarNama = ['Ucup', 'Otong', 'Komar', 'Udin'] # list akan dipelajari mendalam di
for nama in daftarNama:
    print(nama)

Ucup
Otong
Komar
Udin

In [32]:
print(daftarNama)

['Ucup', 'Otong', 'Komar', 'Udin']

In [34]:
# Belajar implementasi looping
daftarNama = ['Agus', 'Budi', 'Asep', 'Suryo', 'Aliando']

for nama in daftarNama:
    if 'u' in nama:
        print(nama)

Agus
Budi
Suryo

In [35]:
# Implementasi 2
daftarNama = ['Agus', 'Budi', 'Asep', 'Suryo', 'Aliando']
daftarNilai = [80, 70, 77, 55, 100]
i = 0 # nilai default
for nilai in daftarNilai:
    if nilai < 78:
        print(f'{daftarNama[i]} remidi, karena nilai {nilai}')
    i += 1 # increment 1

Budi remidi, karena nilai 70
Asep remidi, karena nilai 77
Suryo remidi, karena nilai 55

In [40]:
daftarNilai = [80, 70, 77, 55, 100]
print(daftarNilai[2])
print(daftarNilai[:3]) # dari awal sampai sebelum 3
print(daftarNilai[3:]) # dari 3 sampai akhir
print(daftarNilai[-1]) # ngitung dari akhir

77
[80, 70, 77]
[55, 100]
100